<!DOCTYPE html>
<html>
  <head>
    <title>Upload</title>
    <link rel='stylesheet' href='/css/base.css' />
  </head>
  <body>

    <form action="/fileupload" method="post" enctype="multipart/form-data">
        <input type="file" name="image"/>
        <input type="submit" value="Upload"/>
    </form>
  </body>
</html>